<h1><%=@figure.name%></h1>
<label> Titles </label>
<% @figure.titles.each do |title| %>
	<p><a href="/titles/<%=title.id%>"><%=title.name%></a></p>
<% end %>
<label> Landmarks </label>
<% @figure.landmarks.each do |landmark| %>
	<p><a href="/landmarks/<%=landmark.id%>"><%=landmark.name%></a></p>
<% end %>
<h2><a href="/figures">Figure Index</a></h2>